@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ecf2f3; 
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121212; 
    --foreground: #ededed; 
  }
} */

body.dark {
  background-color: #374952; /* Dark mode background color */
}

body {
  color: var(--foreground); 
  background: var(--background); 
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-small {
  font-size: 10px;
}

.font-tiny {
  font-size: 8px;
}


/* Poppins Regular */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400; 
}

/* Poppins Bold */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700; 
}

/* Poppins Medium */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500; 
}
