@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

:root {
  --background: #ecf2f3;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121212; 
    --foreground: #ededed; 
  }
} */

body.dark {
  background-color: #374952; /* Dark mode background color */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.error-fields {
  /* background-color: #fee2e2; */
  border-color: #ef4444;
}

/* Poppins Regular */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/* Poppins Bold */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

/* Poppins Medium */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

trix-editor ul,
article ul {
  @apply list-disc ml-6; /* Apply bullet points and indentation */
}

trix-editor ol,
article ol {
  @apply list-decimal ml-6; /* Apply numbering and indentation */
}

trix-editor li,
article li {
  @apply mb-2; /* Apply margin between items */
}

trix-editor a,
article a {
  @apply text-blue-500 underline hover:text-blue-800;
}

trix-editor h1,
article h1 {
  @apply font-bold text-xl;
}

trix-editor strong,
article strong {
  @apply font-bold; /* Strong text */
}

trix-editor em,
article em {
  @apply italic; /* Text italic */
}

article {
  @apply dark:text-font-white text-font-black
}

trix-editor{
  @apply text-font-white
}

trix-editor blockquote,
article blockquote {
  font-style: italic;
  color: #555;
  border-left: 4px solid #ccc;
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: #f9f9f9;
}

trix-toolbar .trix-button--icon-attach {
  display: none;
}

trix-toolbar .trix-button-group--file-tools {
  display: none !important;
}
